<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.helloworld">
  <parsererror xmlns="http://www.w3.org/1999/xhtml" style="display: block; white-space: pre; border: 2px solid #c77; padding: 0 1em 0 1em; margin: 1em; background-color: #fdd; color: black">
    <h3>This page contains the following errors:</h3>
    <div style="font-family:monospace;font-size:12px">error on line 35 at column 19: Opening and ending tag mismatch: meta-data line 33 and application
</div>
    <h3>Below is a rendering of the page up to the first error.</h3>
  </parsererror>
  <application android:label="helloworld" android:name="${applicationName}" android:icon="@mipmap/ic_launcher">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBB-1bDjjvw3oBzwnr3A-pgFfT3091XOrM" />
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:name="flutterEmbedding" android:value="2" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBB-1bDjjvw3oBzwnr3A-pgFfT3091XOrM" />
  </application>
</manifest>
